<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vinde!</mat-card-title>
    <mat-card-subtitle class="subtitle">Esta página inrodutória é apenas uma representação
        simbólica com informações de destaque da empresa fictícia, com o objetivo de treinar 
        a criação de componentes em Angular e Material Design.
        <br>
        O exercício faz parte de um curso introdutório da Cod3r.br, o "Angular 9 Essencial", 
        do Leonardo Leitão
    </mat-card-subtitle>
</mat-card>
